* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  margin: 20px;
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
  margin-top: 15px;
}


button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  height: 40px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  height: 200px;
}

form .input-block {
  display: flex;
  flex-direction: column;
}

form .input-block label {
  color: #acacac;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

form .input-block input {
  width: 100%;
  height: 32px;
  font-size: 14px;
  color: #666;
  border: 0;
  border-bottom: 1px solid #ccc;
}

input {
  height: 25px;
}
